body{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}
.navbar_logo {
    font-size:24px;
    color:white;
}
.navbar_logo i{
    color: #d49466;
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    background-color: #d49466;

}
.navbar_marks{
    list-style: none;
    color: white;
    display: flex;
    align-items: right;
    padding-left: 0;
}
.navbar_marks li{
    padding: 8px 12px;
}
table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
}
td,th{
    color:white;
    border: 1px solid lightgray;
    text-align: center;
    padding: 10px;
}
th{
    background-color: black;
}
/*.navbar_toggle{
    display: none;
    color:#d49466;
    position: absolute;
    right:32px;
    font-size:24px;
}

/*@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
       
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_marks{
        
        justify-content: center;
        width: 100%;
    }
    .navbar_marks li{
        padding: 8px 12px;
    }
    .navbar_toggle{
        display: block;
    }

    .navbar_menu.active,
    .navbar_marks.active{
        display: flex;
    }

}