<html>
    <body>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fmail.google.com%2F&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fgauth%2Fcode&client_id=663388252983-96ep48p786al8ev6uufnl2b7sfdtlss4.apps.googleusercontent.com">
            구글 API 동의하기
        </a>
    </body>
</html>