<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>login</p>
    <form action="/auth/login" method="POST">
      <input type="text" id="email" name="email">
      <input type="password" id="password" name="password">
      <input type="submit">
    </form>

    <p>join</p>
    <form action="/auth/join" method="POST">
      <input type="text" id="email" name="email">
      <input type="password" id="password" name="password">
      <input type="submit">
    </form>

    <form action="https://oauth2.googleapis.com/token" method="POST" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="code" value=<%=code%>>
      <input type="hidden" name="client_id" value="663388252983-96ep48p786al8ev6uufnl2b7sfdtlss4.apps.googleusercontent.com">
      <input type="hidden" name="client_secret" value="IRcWYvk5Ppmye8GhNfg_xFbM">
      <input type="hidden" name="redirect_url" value="http://localhost:8080/gauth/code">
      <input type="hidden" name="grant_type" value="authorization_code">
      <input type="submit" value="token 생성">
    </form>
  </body>
  
</html>