<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="banner.css">
    <title>고웹의 노예들</title>
    </script>
    <script defer src="../js/main.js" ></script>
</head>
<body>
    <p>login</p>
    <form action="/auth/login" method="POST">
      <input type="text" id="email" name="email">
      <input type="password" id="password" name="password">
      <input type="submit">
    </form>

    <p>join</p>
    <form action="/auth/join" method="POST">
      <input type="text" id="email" name="email">
      <input type="password" id="password" name="password">
      <input type="submit">
    </form>
    <a href="/gauth">goto gauth</a>
<nav class="navbar">
    <div id="mySidenav" class="sidenav">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">주</a>
        <a href="#">식</a>
        <a href="#">왕</a>
        <a href="#">현승훈</a>
      </div>
    <div class="navbar_logo">
        <a onclick="openNav()" class="navbar_logo">&#9776;</a><a href="" class="navbar_logo">개미는 뚠뚠</a>

    </div>
</nav>

    <table>       
        <th>최초 뉴스 발행시간</th>
        <th>등락률</th>
        <th>종목 이름/ 키워드</th>
        <th>헤드라인</th>
        <th>요약</th>
        <th>요약</th>
        <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        </tr>
        </table>
    </body>
</html>