<!DOCTYPE html>
<html lnag="ko">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
        <link rel="stylesheet" href="login.css">
        <script defer src="js/login.js" ></script>
    </head>
    <body>
     <!-- header -->
            <div id="header">
              <a href="/" target="_blank">오개뚠</a>
            </div>
        <div id="wrapper">
            <div id="content">
                <div>
                    <h3 class="join_title">
                        <label for="id">아이디</label>
                    </h3>
                    <span class="box int_id">
                        <input type="text" name="email" id="id" class="int" maxlength="20">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <div>
                    <h3 class="join_title"><label for="pswd1" type="password" name="password">비밀번호</label></h3>
                    <span class="box int_pass">
                        <input type="text" name="password" id="pswd1" class="int" maxlength="20">
                        <span id="alertTxt">사용불가</span>
                        <img src="img/m_icon_pass.png" id="pswd1_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>
                <div>
                    <h3 class="join_title"><label for="pswd2" type="password" name="password">비밀번호 재확인</label></h3>
                    <span class="box int_pass_check">
                        <input type="text" name= "password" id="pswd2" class="int" maxlength="20">
                        <img src="img/m_icon_check_disable.png" id="pswd2_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>
                <div>
                    <h3 class="join_title"><label for="name">이름</label></h3>
                    <span class="box int_name">
                        <input type="text" name="nickname" id="name" class="int" maxlength="20">
                    </span>
                    <span class="error_next_box"></span>
                </div>
                <div>
                    <h3 class="join_title"><label for="gender" name="gender">성별</label></h3>
                    <span class="box gender_code">
                        <select id="gender" class="sel">
                            <option>성별</option>
                            <option value="0" name="gender">남자</option>
                            <option value="1" name="gender">여자</option>
                        </select>                            
                    </span>
                    <span class="error_next_box">필수 정보입니다.</span>
                </div>
                <div>
                    <h3 class="join_title"><label for="email" name="gmail">Gmail</label></label></h3>
                    <span class="box int_email">
                        <input type="text" id="email" class="int" maxlength="100" placeholder="선택입력">
                    </span>
                    <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>    
                </div>
                <div>
                </p><input type="checkbox" name="gmail_check">SMS수신 동의 하시겠습니까?</p>
                    <h3 class="join_title"><label for="phoneNo" name="phone_num">휴대전화</label></h3>
                    <span class="box int_mobile">
                        <input type="tel" name="phone_num" id="mobile" class="int" maxlength="16" placeholder="전화번호 입력">
                    </span>
                    <span class="error_next_box"></span>    
                </div>

<div>
    <h3 class="join_title"><label for="phoneNo">인증번호</label></h3>
    <span class="box int_mobile">
        <input type="tel" id="mobile" class="int" maxlength="16" placeholder="인증번호 입력">
    </span>
    <span class="error_next_box"></span>    
</div>
                <div class="btn_area">
                    <button type="button" id="btnJoin">
                        <span><a href = "fin.html">가입하기</a></span>
                    </button>
                </div>
            </div> 
        </div> 
</html>